<link rel="stylesheet" href="/css/leaflet.css" />
<link rel="stylesheet" href="/css/app.css" />
<script src="/js/jquery.min.js"></script>
<script src="/js/leaflet.min.js"></script>
<script src="/js/map.js"></script>

<div id="map"></div>

<ul>
  <% @checkins.each do |checkin| %>
    <li class="checkin" data-lat=<%= checkin.lat %> data-lng=<%= checkin.lng %>>
      <a href="/people/<%= checkin.person.id %>"><%= checkin.person.email %></a>
      said "<%= checkin.message %>"
      <% if checkin.lat %> at <%= checkin.lat %>, <%= checkin.lng %><% end %>
    </li>
  <% end %>
</ul>
